table {
    width: 100%;
    border: 2px solid #ccc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

table td {
    border: 2px solid rgba(255, 111, 0, 0.513);
    padding: 10px;
}


.g {
    background-color: rgb(189, 183, 107, 0.8);
}


.f {
    background-color: rgb(0, 255, 255, 0.1);
    width: 50px;
    padding: 1px;
}

.h {
    background-color: rgb(189, 183, 107, 0.6);
    /* background-color: blueviolet; */
    color: black;
}

.k {
    background-color: antiquewhite;
}

.y {
    background-color: rgb(255, 215, 0, 0.5);
}

.l {
    background-color: lightgray;
}

.p {
    background-color: rgb(169, 169, 169, 0.7);

}